{% extends "layout.html" %}

{% block title %}
    Wishlist
{% endblock %}

{% block wishlist %}
    active
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="static/css/list.css">
{% endblock %}

{% block main %}
    <div class="container-cards">

        {% for hotel in rows %}
            <div class="card mb-3 mr-auto ml-auto card-size">
                <div class="row no-gutters">

                    <div class="col-md-6">
                        <img src="{{ hotel[2] }}" class="card-img img-size" alt="{{ hotel[3] }}">
                    </div>

                    <div class="col-md-6">
                        <div class="card-body body-size">

                            <h3 class="card-title">{{ hotel[3] }}</h3>

                            <div class="dropdown-divider"></div>

                            <div class="container-flex">
                                <p class="card-text">
                                    {% for i in range(hotel[4] | int) %}
                                        <i class="material-icons mt-3">grade</i>
                                    {% endfor %}
                                    <h4 class="ml-1 mr-4">Hotel</h4>
                                    <h6 class="ml-1 reviews">{{ hotel[5] }} reviews</h6>
                                </p>
                            </div>

                            <div class="container-flex">
                                <p class="card-text">
                                    <i class="material-icons mt-3">place</i>
                                    <h4>{{ hotel[6] }}</h4>
                                </p>
                            </div>

                            <div class="container-flex">

                                <p class="card-text">
                                    <i class="material-icons mt-3">monetization_on</i>
                                    <h4 class="text-green">{{ hotel[7] }}</h4>
                                </p>

                                <form action="/wishlist" method="POST">
                                    <input type="hidden" name="hotel_id" value="{{ hotel[1] }}">
                                    <button type="submit" class="btn btn-primary ml-5" name="wishlist" value="del">Delete wishlist</button>
                                </form>

                            </div>

                            <p class="card-text"><small class="text-muted">1 rooms, {{ adults }} adults</small></p>

                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock  %}